@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Quicksand:wght@400;500;600;700&family=Roboto&family=Rubik&family=Rubik+Dirt&family=Wavefont:wght@800&display=swap");
* {
  line-height: 1.5rem;
  font-size: 0.9rem;
}

body {
  background-color: #EEEDED;
}

.tartiary {
  color: #ffca2c;
  font-family: "Aguafina Script", cursive;
}

.tar {
  color: #d71313;
}

.sec {
  color: #0E21A0;
}

a {
  color: none;
  text-decoration: none;
}

.sec-body {
  position: relative;
  top: -25px;
}

.hr {
  border: 1px solid #0E21A0;
}

.fa {
  color: #ffca2c;
  font-size: 35px;
  font-weight: 600;
}

.navbar-toggler-icon:focus {
  border: none;
}

.itel {
  color: #0E21A0;
  transition: all 0.1s;
  text-shadow: 4px 11px 6px rgb(66, 68, 90);
}

.itel:hover {
  color: #ffca2c;
}

.itel-1 {
  color: #0E21A0;
}

.lead {
  font-family: "Rubik", sans-serif;
}

.menu {
  background-color: #0E21A0;
}
.menu .navbar-brand {
  font-family: "Rubik", sans-serif;
  color: #EEEDED;
}
.menu .navbar-brand .lo-farm {
  width: 50px;
  height: 50px;
  position: relative;
  top: -15px;
  left: -43px;
}
.menu .navbar-brand span {
  position: relative;
  left: -50px;
  color: #ffca2c;
}
.menu .nav-link {
  color: #ffca2c;
  transition: all 0.5s linear;
}
.menu .nav-link:hover {
  position: relative;
  top: -5px;
}

.btn {
  background-color: #0E21A0;
  color: #EEEDED;
  padding: 15px;
  border-radius: 40px;
  width: 200px;
  border-inline: 2px solid #ffca2c;
  outline: none;
}

.c-item {
  height: 450px;
}
.c-item .sec-car {
  background-color: #EEEDED;
  width: 60%;
  border-radius: 12px;
  border-inline: 2px solid #d71313;
  color: #0E21A0;
  margin-left: 25px;
  margin-right: 30px;
}
.c-item .c-img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  filter: brightness(0.6);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.sign {
  position: relative;
  top: -50px;
  background-color: #EEEDED;
  height: 50dvh;
  transition: all 0.1s;
}

.about .img-con {
  width: 290px;
  background-color: #0E21A0;
  padding: 20px;
  border-inline-start: 8px solid #ffca2c;
  border-bottom: 8px solid #ffca2c;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transition: all 0.5s linear;
}
.about .img-con:hover {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  position: relative;
  top: -20px;
  background-color: #ffca2c;
  border-inline-start: 8px solid #0E21A0;
  border-bottom: 8px solid #0E21A0;
}
.about .ab-img {
  border-radius: 20px;
}

.job-img {
  background-color: #d71313;
  border-inline-end: 8px solid #ffca2c;
  border-bottom: 8px solid #ffca2c;
}

.product {
  background-color: transparent;
}
.product .product-items {
  background-color: #EEEDED;
  max-width: 320px;
}
.product .prod-img {
  width: 200px;
  height: 120px;
}
.product .prod-btn {
  width: 80px;
  padding: 10px;
}

.review {
  background-image: url("img/owner.jpg");
  background-position: 20% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.review .rew-act {
  position: relative;
  top: 100px;
}
.review .rew-act .rew-p {
  width: 60%;
  font-size: 20px;
  font-style: oblique;
  color: #EEEDED;
}

.motive {
  padding: 20px;
}
.motive .mission, .motive .vision {
  width: 220px;
  height: 70px;
  border-radius: 12px;
  padding: 20px 50px;
  background-color: #EEEDED;
  margin: 20px;
  border-inline: 2px solid #d71313;
  cursor: pointer;
}
.motive .dis-screen {
  width: 60dvh;
  height: 35dvh;
  padding-top: 40px;
  padding-left: 20px;
  background-color: #0E21A0;
  border-radius: 60px;
  color: #EEEDED;
}

.contact-bg {
  background-color: transparent;
  width: 60dvh;
  height: 75dvh;
  border-top-right-radius: 60%;
  border-top-left-radius: 38%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 40%;
  padding-top: 70px;
  padding-left: 30px;
  border: 3px solid #ffca2c;
}
.contact-bg input {
  border: none;
  width: 40dvh;
  border-bottom: 2px solid #ffca2c;
  outline: none;
  border-radius: 12px;
  padding: 10px;
  background-color: transparent;
}
.contact-bg textarea {
  resize: none;
  width: 250px;
  height: 120px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffca2c;
  border-radius: 12px;
  padding: 10px;
}
.contact-bg textarea:focus {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffca2c;
}

.contact-bg1 {
  margin-top: 20px;
  padding-top: 20px;
}
.contact-bg1 .fa-solid {
  font-size: 40px;
  color: #ffca2c;
}
.contact-bg1 li a {
  color: #0E21A0;
}

.car-icon {
  position: relative;
  top: 20px;
}
.car-icon .fa {
  font-size: 40px;
}
.car-icon .count {
  background-color: #EEEDED;
  width: 20px;
  -webkit-clip-path: circle();
          clip-path: circle();
  text-align: center;
  padding: 5px;
  position: relative;
  top: -50px;
  left: -10px;
  color: #d71313;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 360px;
  height: 100vh;
  background-color: #EEEDED;
  z-index: 2;
  transition: all 0.5s linear;
  visibility: hidden;
}
.cart .fa {
  font-size: 35px;
  background-color: #ffca2c;
  padding: 5px;
  border-radius: 40px;
  color: #EEEDED;
}
.cart .check-out {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.footer {
  background-color: black;
}
.footer .fa {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #EEEDED;
  font-size: 40px;
  text-align: center;
  color: #ffca2c;
  padding: 10px;
  font-weight: 800;
  margin: 15px;
  transition: all 0.5s linear;
}
.footer .fa:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  color: #0E21A0;
  position: relative;
  top: -10px;
}

.uppage {
  background-image: url("img/group of chieken.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50dvh;
}
.uppage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}/*# sourceMappingURL=style.css.map */